*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /*Colores*/
    --ColorOcre: #F3C300;
    --ColorCrema: #FFE4A2;
    --ColorCeleste: #98D5EB;
    --ColorAzul: #037389;
    --ColorVerde: #838E25;
    /*Tipografías*/
    --FjallaOne: font-family: 'Fjalla One', sans-serif;
    --Barlow: font-family: 'Barlow Semi Condensed', sans-serif;
    --Abel:font-family: 'Abel', sans-serif;
    --Raleway: font-family: 'Raleway', sans-serif;
    }
    /*--- HERO ---*/
.menu{
    display:flex;
    justify-content: space-evenly;
    padding-right:10px;
    position: absolute;
    right:0;
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    font-size: 19px;
    text-transform: uppercase;
}
.menu li{
    list-style: none;
    padding: 20px 15px 0px 15px;
    float:right;
}
.hero{
    background-image: url("images/hero-background.png");
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 15% 62% 10%;
    grid-template-areas: 
    "texto ."
    "presentacion foto"
    "boton .";
    align-items:center;
}
/*Estilo elementos*/
.foto-perfil{
    width: 31vw;
    height: auto;
}
.boton-hero{
    background: var(--ColorOcre);
    color:#000;
    text-decoration: none;
    text-align:center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
    box-shadow: 12px 10px 9px -5px rgb(93 93 93 / 74%);
}
.texto-hero h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
}
.texto-hero h2{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color:#515151;
}
.descripcion-texto{
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    text-align: center;
}
/*Alineación elementos*/
.descripcion{
    grid-area: presentacion;
    justify-self: end;
    align-self: start;
}
.foto{
    grid-area: foto;
    justify-self: center;
    align-self: start;
}
.boton{
    grid-area: boton;
    align-self: center;
    justify-self: center;
}
.texto-hero{
    grid-area: texto;
    align-self: end;
    justify-self: center;
}
.texto{    
    grid-area: presentacion;
    justify-self: center;
    align-self: start;
    background-image: url("images/descripcion-fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width:100%;
}
    /*--- EXPERIENCIA ---*/
.experiencia{
    padding: 45px 60px;
    background:var(--ColorCrema);
}
/*Estilo elementos*/
.titulo-seccion{
    font-family: 'Fjalla One', sans-serif;
    font-size:40px;
    text-align: center;
    margin: auto;
}
.linea-tiempo{
    display:flex;
    flex-flow: row wrap;
    height:150px;
    margin-top: 300px;
    justify-content: space-around;
    align-items: start;
}
.año{
    width:20%;
    text-align: center;
    position: relative;
}
.año:nth-child(even){
    bottom: 140%;
}
.año h3:nth-child(even){
    margin-top:10px;
}
.año:nth-child(odd){
    margin-top: 25px;
}
.descripcion-item{
    text-align: left;
    background-color: #98d5eba1;
    padding: 30px 20px 30px 20px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 80% 20%;
    box-shadow: 7px 6px 14px 1px rgba(0,0,0,0.27);
}
.descripcion-item .puesto{
    font-family: 'Barlow Semi Condensed';
    font-size: 25px;
}
.descripcion-item .empresa{
    font-family: 'Barlow Semi Condensed';
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    order: 3;
    margin-top: 5px;
}
.descripcion-item .ver-mas{
    align-self: center;
    text-decoration: none;
    font-family: 'Fjalla One';
    font-size: 18px;
    margin-top: 20px;
    color: #838E25;
    text-align: center;
    background: linear-gradient(#ffffff 0 0) left / var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
}
.ver-mas:hover{
    /* background-color: #ffffff; */
    border-radius: 20px;
    --p: 100%;
    background-position: right;
}
.año h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}
.linea-tiempo::after{
    content: '';
    background-color: var(--ColorVerde);
    width: 92%;
    height:3px;
    position:absolute;
}

/* .descripcion-item:nth-child(even){
    top:55%;
} */
/* .linea-tiempo::before{
    display:flex;
    content: '';
    position: absolute;
    width: 100%;
    background-color: #000;
    left: 50%;
    height: 3px;
    border-radius: 10px;
    justify-content:center;
} */
/* .descripcion-item::after{
    flex: row wrap;
    content: '';
    position: absolute;
    top: calc(50% + 10px);
    right: calc(-11.11% - 11.5px);
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
}
.descripcion-item:nth-child(even)::after{
    left: calc(-11.11% - 8.5px);
  } */